---
import Layout from "@/layouts/main.astro";

import { getCollectionCached as getCollection } from "@/lib/build-cache";

const allArticlesNodes = await getCollection("articles");
const allArticles = allArticlesNodes.map(({ data = {} }) => {
  const { title = "", slug = "#", cover } = data;

  return {
    title,
    slug,
    cover,
  };
});
---

<Layout>
  <div class="container">
    <h1>Index of articles:</h1>
    <ul>
      {
        allArticles.map((node) => (
          <li>
            <a href={node.slug}>{node.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
