---
import Layout from "@/layouts/main.astro";
import Video from "@/components/video/index.astro";
---

<Layout>
  <div class="container">
    <h1>Audio example</h1>
    <Video url="https://vimeo.com/841102215/30049eb5be" aspectRatio={1.775} />
  </div>
</Layout>
