<footer id="meta">
  <div class="container">
    <p class="copy"><small>Copyright notice</small></p>
    <p class="copy">
      <small>
        <button class="linklike" onclick="openGlider('settings','Settings')">
          Settings
        </button>
      </small>
    </p>
  </div>
</footer>
